.navbar{
    background-color: #95e2f1;
}
.navbar-nav{
    font-size: 18px !important;
    font-weight: 550;
    gap: 23px;
}
.navbar-brand{
    color: #02D3FF;
    font-size: 22px;
    font-weight: 650;
}
.btn1{
    border-color: #02D3FF;
}
.btn1:hover{
    border-color: #02D3FF;
    background: linear-gradient(#01a8ff, #01c4ff);
}
.navbar-toggler{
    border-color: #01c4ff;
}



#main{
    background-color: #F0F0F0;
    padding: 30px 0px;
    margin-top: 45px;
}
/* SECTION1 */


.div1{
    text-align: center;
    background-image: url("./imgaes/Rectangle\ 1612.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 17px;
}
.img1{
    height: 100%;
    width: 100%;
}
.div2{
    padding: 30px 20px;
}
.nesDiv2 > h2{
    font-size: 190%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.nesDiv2 > p {
    font-size: 17px;
    text-align: justify;
}
.btns {
    display: flex;
    gap: 19px;
}
.btn2{
    background: linear-gradient(#000000, #008DFF);
    color: white;
    border: none;
}
.btn3{
    background: #C1D42F;
    border: none;
    color: white;
}
.text{
    padding-top: 10px;
    display: flex;
    gap: 15px;
}
.span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
}
.text > p {
    font-size: 14px;
}
@media (max-width: 576px) {
    #main{
        padding: 0px;
    }
    
}

@media (min-width: 1200px) {
    .div1{
        width: 350px;
    }
}





.sec2-text > h3{
    font-size: 24px;
}
.sec2-text > p {
    text-align: justify;
}

.img2{
    width: 100%;
}

@media (min-width: 768px) {
    .sec2{
        padding: 20px 30px;
    }
}

.sec3{
    margin-top: 35px;
    padding: 35px 10px;
    width: 100%;
    border-radius: 20px;
    background:linear-gradient(#02d5ff6b, #BEE9FC) ;
}
.sec3 > h3, .sec3 > p{
    text-align: center;
}
.sec3 > p{
    text-align: center;
    width: 70%;
    margin: auto;
}

.sec4{
    margin-top: 25px;
}
.sec4-div > div{
    padding: 10px;
}
.sec4-img{
    height: 300px;
    width: 100%;
}
.sec-h4{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 776px) {
    .btn-Flex{
        display: flow;
    }
    .sec-h4{
        text-align: center;
    }
    .sec-para{
        text-align: center;
    }
}
.sec4-div2{
    margin-top: 20px;
}
.img3{
    height: 90px;
    text-align: center;
}


.cards > div{
    padding: 10px;
    border-radius: 17px;
    background-color: white;
}
.cards{
    margin: auto;
    column-gap: 20px;
    row-gap: 20px;
}
.img4{
    height: 110px;
}
.img5{
    height: 23px;
    text-align: right;
}
.img6{
    height: 450px;
}
.foot{
    background-color: #7fd0e0 !important;
}